[Unit]
Description=Regenerate SSH host keys
After=syslog.target local-fs.target
Before=ssh.service

[Service]
Type=forking
ExecStart=/bin/sh /etc/ssh/pilc_regenerate_ssh_host_keys.sh

[Install]
WantedBy=multi-user.target
