[submodule "pilc/raspi-hat/raspi-hat-tools"]
	path = pilc/raspi-hat/raspi-hat-tools
	url = https://github.com/raspberrypi/hats.git
[submodule "pilc/kernel"]
	path = pilc/kernel
	url = https://git.bues.ch/git/linux.git
[submodule "pilc/pyprofibus"]
	path = pilc/pyprofibus
	url = https://git.bues.ch/git/pyprofibus.git
