include COPYING.txt
include EXAMPLE.awl
include EXAMPLE.awlpro
include EXAMPLE.csv
include TODO.txt
include COMPATIBILITY.txt
include awlsimhw_linuxcnc/awlsim.hal
graft tests
graft fake
graft doc

prune build
prune ./build
