include COPYING.txt
include TODO.txt
include COMPATIBILITY.txt
include win-standalone-build.bat
include awlsimhw_linuxcnc/awlsim.hal
include awlsim/gui/icons/pic2py
graft tests
graft libs
graft doc
graft examples
graft awlsim/gui/icons/icon-images
graft pilc

global-include *.pxd.in

prune build
prune ./build
