destdir-*/
python-awlsim*/
cython-awlsim*/
python3-awlsim*/
cython3-awlsim*/
awlsim-client/
awlsim-proupgrade/
awlsim-server/
awlsim-gui/
awlsim-symtab/
awlsim-test/
awlsim-linuxcnc-hal/

files
debhelper-build-stamp
*.log
*.debhelper
*.substvars
