destdir-*/
python-awlsim/
cython-awlsim/
python-awlsim-gui/
python3-awlsim/
cython3-awlsim/
python3-awlsim-gui/
pypy-awlsim/
awlsim-client/
awlsim-server/
awlsim-gui/
awlsim-symtab/
awlsim-test/
awlsim-linuxcnc-hal/

files
debhelper-build-stamp
*.log
*.debhelper
*.substvars
