Source: awlsim
Maintainer: Michael Buesch <m@bues.ch>
Section: python
Priority: optional
Build-Depends: dh-python,
               cython,
               cython3,
               python-all-dev (>= 2.7.0),
               python-setuptools,
               python3-all-dev (>= 3.4.2-2),
               python3-setuptools,
               pypy,
               pypy-setuptools,
               debhelper (>= 9)
Standards-Version: 3.9.8
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4
Vcs-Git: git://git.bues.ch/awlsim.git
Vcs-Browser: https://bues.ch/cgit/awlsim.git/
Homepage: https://awlsim.de


Package: python-awlsim
Architecture: any
Depends: ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Description: S7 AWL/STL Soft-PLC core libraries (Python 2)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: cython-awlsim
Architecture: any
Depends: ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Description: S7 AWL/STL Soft-PLC core libraries (Cython 2)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: cython-awlsimhw-dummy
Architecture: any
Depends: ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Description: S7 AWL/STL Soft-PLC dummy hardware module (Cython 2)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: cython-awlsimhw-linuxcnc
Architecture: any
Depends: ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Description: S7 AWL/STL Soft-PLC LinuxCNC hardware module (Cython 2)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: cython-awlsimhw-profibus
Architecture: any
Depends: ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Description: S7 AWL/STL Soft-PLC PROFIBUS-DP hardware module (Cython 2)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: cython-awlsimhw-rpigpio
Architecture: any
Depends: ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Description: S7 AWL/STL Soft-PLC Raspberry Pi hardware module (Cython 2)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: python-awlsim-gui
Architecture: any
Depends: python-awlsim,
         python-pyside,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Suggests: python-pyqt5,
          cython-awlsim
Description: S7 AWL/STL Soft-PLC gui libraries (Python 2)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: python-awlsimhw-dummy
Architecture: any
Depends: python-awlsim,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Description: S7 AWL/STL Soft-PLC dummy hardware module (Python 2)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: python-awlsimhw-linuxcnc
Architecture: any
Depends: python-awlsim,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Description: S7 AWL/STL Soft-PLC LinuxCNC hardware module (Python 2)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: python-awlsimhw-profibus
Architecture: any
Depends: python-awlsim,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Description: S7 AWL/STL Soft-PLC PROFIBUS-DP hardware module (Python 2)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: python-awlsimhw-rpigpio
Architecture: any
Depends: python-awlsim,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Description: S7 AWL/STL Soft-PLC Raspberry Pi hardware module (Python 2)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: python-libpilc
Architecture: any
Depends: ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Description: PiLC library (Python 2)
 Support routines for the PiLC.


Package: python3-awlsim
Architecture: any
Depends: ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: S7 AWL/STL Soft-PLC core libraries (Python 3)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: cython3-awlsim
Architecture: any
Depends: ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: S7 AWL/STL Soft-PLC core libraries (Cython 3)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: cython3-awlsimhw-dummy
Architecture: any
Depends: ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: S7 AWL/STL Soft-PLC dummy hardware module (Cython 3)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: cython3-awlsimhw-linuxcnc
Architecture: any
Depends: ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: S7 AWL/STL Soft-PLC LinuxCNC hardware module (Cython 3)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: cython3-awlsimhw-profibus
Architecture: any
Depends: ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: S7 AWL/STL Soft-PLC PROFIBUS-DP hardware module (Cython 3)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: cython3-awlsimhw-rpigpio
Architecture: any
Depends: ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: S7 AWL/STL Soft-PLC Raspberry Pi hardware module (Cython 3)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: python3-awlsim-gui
Architecture: any
Depends: python3-awlsim,
         python3-pyside,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Suggests: python3-pyqt5,
          cython-awlsim
Description: S7 AWL/STL Soft-PLC gui libraries (Python 3)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: python3-awlsimhw-dummy
Architecture: any
Depends: python3-awlsim,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: S7 AWL/STL Soft-PLC dummy hardware module (Python 3)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: python3-awlsimhw-linuxcnc
Architecture: any
Depends: python3-awlsim,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: S7 AWL/STL Soft-PLC LinuxCNC hardware module (Python 3)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: python3-awlsimhw-profibus
Architecture: any
Depends: python3-awlsim,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: S7 AWL/STL Soft-PLC PROFIBUS-DP hardware module (Python 3)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: python3-awlsimhw-rpigpio
Architecture: any
Depends: python3-awlsim,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: S7 AWL/STL Soft-PLC Raspberry Pi hardware module (Python 3)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: python3-libpilc
Architecture: any
Depends: ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: PiLC library (Python 3)
 Support routines for the PiLC.


Package: pypy-awlsim
Architecture: any
Depends: ${misc:Depends},
         ${pypy:Depends},
         ${shlibs:Depends}
Description: S7 AWL/STL Soft-PLC core libraries (PyPy 2)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: pypy-awlsimhw-dummy
Architecture: any
Depends: pypy-awlsim,
         ${misc:Depends},
         ${pypy:Depends},
         ${shlibs:Depends}
Description: S7 AWL/STL Soft-PLC dummy hardware module (PyPy 2)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: pypy-awlsimhw-profibus
Architecture: any
Depends: pypy-awlsim,
         ${misc:Depends},
         ${pypy:Depends},
         ${shlibs:Depends}
Description: S7 AWL/STL Soft-PLC PROFIBUS-DP hardware module (PyPy 2)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: pypy-awlsimhw-rpigpio
Architecture: any
Depends: pypy-awlsim,
         ${misc:Depends},
         ${pypy:Depends},
         ${shlibs:Depends}
Description: S7 AWL/STL Soft-PLC Raspberry Pi hardware module (PyPy 2)
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: awlsim-client
Architecture: any
Depends: python3-awlsim,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Suggests: python-awlsim,
          cython-awlsim,
          cython3-awlsim
Description: S7 AWL/STL Soft-PLC client
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: awlsim-server
Architecture: any
Depends: python3-awlsim,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Suggests: python-awlsim,
          cython-awlsim,
          cython3-awlsim
Description: S7 AWL/STL Soft-PLC core server
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: awlsim-symtab
Architecture: any
Depends: python3-awlsim,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Suggests: python-awlsim,
          cython-awlsim,
          cython3-awlsim
Description: S7 AWL/STL Soft-PLC symbol table parser
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: awlsim-test
Architecture: any
Depends: python3-awlsim,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Suggests: python-awlsim,
          cython-awlsim,
          cython3-awlsim
Description: S7 AWL/STL Soft-PLC testing interface
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: awlsim-proupgrade
Architecture: any
Depends: python3-awlsim,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Suggests: python-awlsim,
          cython-awlsim,
          cython3-awlsim
Description: S7 AWL/STL Soft-PLC project file format upgrade utility
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: awlsim-linuxcnc-hal
Architecture: any
Depends: python-awlsim,
         python-awlsimhw-linuxcnc,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Suggests: python3-awlsim,
          python3-awlsimhw-linuxcnc,
          cython-awlsim,
          cython3-awlsim
Description: S7 AWL/STL Soft-PLC LinuxCNC HAL module
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: awlsim-gui
Architecture: any
Depends: python3-awlsim-gui,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Suggests: python-awlsim-gui
Description: S7 AWL/STL Soft-PLC graphical user interface
 Awlsim is a free Step 7 compatible AWL/STL Soft-PLC written in Python.


Package: pilc-hat-conf
Architecture: any
Depends: python3-libpilc,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Suggests: python-libpilc
Description: Raspberry Pi PiLC HAT configuration tool
 Configuration tool for the PiLC HAT.
